{% extends 'userside/base.html' %}
{% block p_title %} Dahboard {% endblock %}
{% block s_title %} Dahboard {% endblock %}
{% block content %}
<div class="row"> 
		<div class="mt-2 col-lg-6 ml-2 mr-2 col-sm-12 border">
			<!-- account section -->

			
			<!-- /account section -->
		</div>
		<div class="ml-2 mt-2 mr-2 col-lg col-sm-12 border ">
			<!-- orders summry section -->


			<!-- /orders summry section -->
		</div>
</div>
<div class="col border mt-2">
		<!-- order table section -->


		<!-- /order table section -->
		
</div>
{% endblock %}