{% extends 'userside/base.html' %}
{% load crispy_forms_tags %}
{% block p_title %} change password {% endblock %}
{% block s_title %} change password {% endblock %}

{% block content %}
<div class="content-section col-sm-10 col-lg-6 border">

<form method="POST" class="m-4">
	{% csrf_token %}
	<fieldset class="form-group">
		<legend class="border-bottom mb-4">change password</legend>
		{{form|crispy}}
	</fieldset>
	<button class="btn btn-org" type="submit">change password</button>
</form>	

</div>
{% endblock %}