{% extends 'userside/base.html' %}
{% load crispy_forms_tags %}
{% block p_title %} Setup Profile {% endblock %}
{% block s_title %} setup profile {% endblock %}

{% block content %}
<div class="content-section col-sm-10 col-lg-6 border">

<form method="POST" class="m-4">
	{% csrf_token %}
	<fieldset class="form-group">
		<legend class="border-bottom mb-4">Setup Profile</legend>
		{{form_2|crispy}}
		{{form_1|crispy}}
	</fieldset>
	<button class="btn btn-org" type="submit">set</button>
</form>	

</div>
{% endblock %}